* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
    margin: auto;
    width: 80%;
}

.mv {
    padding: 5% 0 5% 0;
}

.name {
    margin: 6% 0 5% 0;
}

.name > :first-child {
    color: #3A3A3A;
    font-size: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.72px;
    /* margin-bottom: 1%; */
}

.name > h1 {
    color: #FF408C;
    font-size: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -1.6px;
}

.name > :last-child {
    color: #000;
    font-size: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.72px;
}

.d-flex {
    display: flex;
}

.jc {
    justify-content: space-between;
}

.contact-info {
    color: #3A3A3A;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.32px;
    margin-top: 1%;
    margin-bottom: 3%;
}

.tool > p, .tool-1 {
    margin-bottom: 2%;
}

.tool-1, .tool-2 {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 30px;
}

.tool-1 > img, .tool-2 > img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.text-area {
    width: 60%;
}

.img-area {
    width: 40%;
    
}

.img-area > :first-child {
    height: 85%;
    position: relative;
    object-fit:cover;
    width: 100%;
}

.shadow {
    box-shadow: 17px 17px #FF408C;
}

.star {
    color: #FF408C;
    width: 158.28px;
    height: 161.847px;
    position: relative;
    left: 345px;
    bottom: 92px;
    z-index: -1;
}

.logo {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}

.logo > a > img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.logo > a {
    text-decoration: none;
}

.copyright {
    padding: 2% 0 5% 0;
    color: var(--dark, #21243D);
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ta {
    text-align: center;
}